.header {
  background-color: rgba(0, 0, 0, 0.753);
  background-image: url('../public/img/876726.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem 0;
  width: 100%;
  border-bottom: 1px solid #ffffff34;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(18, 18, 18, 1);
  -moz-box-shadow: 0px 0px 5px 3px rgba(18, 18, 18, 1);
  box-shadow: 0px 0px 5px 3px rgba(18, 18, 18, 1);
  position: relative;
}
.contenedor {
  background-color: transparent;
}
.barra {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.808);
  border-radius: 10px;
  padding: 0rem 1rem;
}
.barra img {
  cursor: pointer;
}
.navbar a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--blanco);
  margin-left: 3rem;
  cursor: pointer;
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  position: relative;
}
.navbar a::before,
.navbar a::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -0.1rem;
  display: block;
  width: 100%;
  height: 2px;
  background: var(--primary);
  transition: 1.1s var(--ease-out-expo);
}
.navbar a::before {
  transform: scaleX(0);
  transform-origin: left;
}
.navbar a::after {
  transform-origin: right;
  transition-delay: 0.25s;
}
.navbar a:hover::before {
  transform: scaleX(1);
  transition-delay: 0.25s;
}
.navbar a:hover::after {
  transform: scaleX(0);
  transition-delay: 0s;
}
.navbar a:hover {
  transition: 0.2.5s all ease;
  color: var(--primary);
}

/* Modelo */
.modelo {
  color: var(--blanco);
  margin: 17rem;
  text-align: left;
}
.modelo h2 {
  font-size: 4rem;
}

.modelo .desc {
  font-size: 1.4rem;
  margin-top: -2rem;
}
.modelo .precio {
  color: var(--primary);
  font-size: 2rem;
  font-weight: bold;
}
.modelo a {
  border-radius: 4px;
  border: 2px solid var(--primary);
  padding: 0.5rem 2.5rem;
  text-decoration: none;
  font-size: 2rem;
  color: var(--blanco);
  transition: 0.3s all ease-in-out;
}
.modelo a:hover {
  background-color: var(--primary);
}

.guitarraImg {
  display: none;
}

@media (min-width: 992px) {
  .guitarraImg {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    animation-name: mostrarImagen;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
  }
}
/* Animation Guitar  */
@keyframes mostrarImagen {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Animation Guitar  */

@media (min-width: 768px) {
  .modelo {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .modelo {
    margin: 4rem 0.5rem;
    margin-bottom: 4.7rem;
  }
}
@media screen and (max-width: 768px) {
  .barra {
    align-items: start;
    justify-content: flex-start;
    flex-direction: column;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 0.9rem;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.192);
    background-color: rgba(0, 0, 0, 0.295);
  }
  .navbar a {
    padding: 0.5rem 0;
  }
  .navbar a::before,
  .navbar a::after {
    background-color: transparent;
  }
}
