.contenedor {
  margin: 1.5rem auto !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.61);
  padding: 2rem 2rem;
  border-radius: 20px;
  width: 100%;
}
.contenedor h1 {
  font-size: 2rem;
  color: var(--blanco);
}

.contenido {
  display: grid;
  gap: 3rem;
}
.section {
  margin: 2rem auto;
  width: 90%;
}
.section h2 {
  color: white;
  font-size: 2rem;
}

@media screen and (max-width: 1980px) {
  .contenido {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  .contenido {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .contenido {
    grid-template-columns: 1fr;
  }
}
