.article img {
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.contenido {
  border-radius: 50px;
  background-color: var(--blanco);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* margin-bottom: 4rem; */
}
.contenido h3 {
  margin: 0;
  line-height: 1.2;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1.8px;
  line-height: 46px;
  text-shadow: 0 2px 4px rgba(34, 34, 36, 0.36);
  background-color: rgba(0, 0, 0, 0.795);
  padding: 1rem;
  position: relative;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  border-bottom-right-radius: 20px;
  height: 10.5rem;
  display: flex;
  align-items: center;
}
.contenido p {
  margin: 0;
  line-height: 1.2;
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.3px;
  line-height: 30px;
  text-shadow: 0 2px 4px rgba(25, 25, 26, 0.36);
  padding: 1rem;
  position: relative;
  height: 26rem;

  text-overflow: ellipsis;
}
.contenido .fecha {
  color: rgba(255, 255, 255, 0.822);
  border: 1px solid rgba(218, 218, 218, 0.185);
  font-size: 15px;
  text-shadow: 0 1.4px 0.5px rgb(0, 0, 0);
  letter-spacing: 0;
  width: auto;
  margin: 0.3rem 0;
  padding: 1rem;
  text-align: start;
  height: auto;
}
.contenido a {
  background-color: var(--primary);
  text-align: center;
  display: block;
  padding: 1.3rem;
  color: var(--blanco);
  text-decoration: none;
  font-size: 1.7rem;
  border: 3px solid rgb(255, 174, 0);
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.contenido a:hover {
  background-color: #c47f0a;
  transition: 0.2s all ease-in;
  -webkit-box-shadow: -1px 3px 7px -2px rgba(61, 61, 61, 1);
  -moz-box-shadow: -1px 3px 7px -2px rgba(61, 61, 61, 1);
  box-shadow: -1px 3px 7px -2px rgba(61, 61, 61, 1);
}
