.page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: black;
  height: 100vh;
  width: 100%;
  color: white;
}
.page a {
  color: rgb(255, 166, 0);
  text-decoration: none;
  font-size: 1.3rem;
}
.page a:hover {
  color: rgb(218, 145, 11);
}
